@-webkit-keyframes vibe {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@keyframes vibe {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@-webkit-keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.fixall {
  margin: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  text-decoration: none;
}

.fixall:hover, .fixall:focus {
  outline: none;
  text-decoration: none;
}

body {
  position: relative;
  font-family: tajawal;
  font-weight: normal;
}

body::-webkit-scrollbar {
  background-color: #fff;
  width: 7px;
  height: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: #30ad63;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #30ad63 #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.overflow {
  overflow: hidden !important;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-ExtraLight.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-ExtraLight.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Light.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Light.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Regular.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Regular.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Medium.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Medium.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Bold.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Bold.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-ExtraBold.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-ExtraBold.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Black.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Black.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.search-form .close-btn {
  display: none;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}

.search-form .close-btn:hover {
  color: #31ae64;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

@media (max-width: 992px) {
  .search-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
  }
  .search-form .close-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.search-cont {
  position: relative;
  height: 45px;
  width: 556px;
  margin: 0 auto 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 992px) {
  .search-cont {
    position: relative;
    width: calc(100% - 30px);
    margin: 120px auto;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .search-cont.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.search-input {
  border: 2px solid #ebebeb;
  height: 100%;
  width: 100%;
  border-radius: 22.5px;
  padding: 0 25px;
  color: #2f2f2f;
  font-size: 16px;
  text-align: right;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html[dir='ltr'] .search-input {
  text-align: left;
}

.search-input::-webkit-input-placeholder {
  color: #949393;
  text-align: right;
}

.search-input:-ms-input-placeholder {
  color: #949393;
  text-align: right;
}

.search-input::-ms-input-placeholder {
  color: #949393;
  text-align: right;
}

.search-input::placeholder {
  color: #949393;
  text-align: right;
}

html[dir='ltr'] .search-input::-webkit-input-placeholder {
  text-align: left;
}

html[dir='ltr'] .search-input:-ms-input-placeholder {
  text-align: left;
}

html[dir='ltr'] .search-input::-ms-input-placeholder {
  text-align: left;
}

html[dir='ltr'] .search-input::placeholder {
  text-align: left;
}

.search-input:focus {
  border-color: #31ae64;
}

.search-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 7px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff183c;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html[dir='ltr'] .search-button {
  left: auto;
  right: 7px;
}

.search-button:hover {
  background-color: #31ae64;
}

.newsletter-cont {
  position: relative;
}

.newsletter-input {
  background-color: #fff;
  width: 100%;
  height: 45px;
  border-radius: 45px;
  padding: 0 30px;
  font-size: 15px;
  text-align: right;
  color: #2f2f2f;
  border: 1px solid #ebebeb;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html[dir='ltr'] .newsletter-input {
  text-align: left;
}

.newsletter-input::-webkit-input-placeholder {
  color: #949393;
  text-align: right;
}

.newsletter-input:-ms-input-placeholder {
  color: #949393;
  text-align: right;
}

.newsletter-input::-ms-input-placeholder {
  color: #949393;
  text-align: right;
}

.newsletter-input::placeholder {
  color: #949393;
  text-align: right;
}

html[dir='ltr'] .newsletter-input::-webkit-input-placeholder {
  text-align: left;
}

html[dir='ltr'] .newsletter-input:-ms-input-placeholder {
  text-align: left;
}

html[dir='ltr'] .newsletter-input::-ms-input-placeholder {
  text-align: left;
}

html[dir='ltr'] .newsletter-input::placeholder {
  text-align: left;
}

.newsletter-input:focus {
  border-color: #2fb065;
}

.newsletter-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 7px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2fb065;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html[dir='ltr'] .newsletter-button {
  left: auto;
  right: 7px;
}

.newsletter-button:hover {
  background-color: #ff183c;
}

.newsletter-button:after {
  content: "\e879";
  font-family: 'Linearicons-Free';
}

html[dir='ltr'] .newsletter-button {
  left: auto;
  right: 7px;
}

html[dir='ltr'] .newsletter-button:after {
  content: "\e87a";
}

nav {
  border-top: 1px solid #e6e6e6;
}

.nav-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mo-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-li {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html[dir='ltr'] .nav-li {
  margin-right: 25px;
}

html[dir='ltr'] .nav-li:last-of-type {
  margin: 0;
}

html[dir='rtl'] .nav-li {
  margin-left: 25px;
}

html[dir='rtl'] .nav-li:last-of-type {
  margin: 0;
}

.nav-a {
  font-size: 17px;
  color: #2f2f2f;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-a:hover {
  color: #31ae64;
}

.hot-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  color: #2f2f2f;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hot-line:hover {
  color: #31ae64;
}

.hot-line span {
  font-size: 20px;
}

html[dir='ltr'] .hot-line span {
  margin-right: 7px;
}

html[dir='rtl'] .hot-line span {
  margin-left: 7px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.drop-li {
  position: relative;
}

.drop-li:hover .nav-a {
  color: #31ae64;
}

.drop-li:hover .sub-ul {
  visibility: visible;
  opacity: 1;
}

.sub-ul {
  position: absolute;
  top: calc(100% - 4px);
  border-radius: 10px;
  background-color: rgba(49, 174, 100, 0.95);
  padding: 15px 12px 18px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}

html[dir='ltr'] .sub-ul {
  left: -25px;
}

html[dir='rtl'] .sub-ul {
  right: -25px;
}

.sub-li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 13px 6px;
  margin-bottom: 6px;
  width: 100%;
}

.sub-li:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.sub-a {
  font-size: 15px;
  color: #fff;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sub-a:hover, .sub-a:focus {
  color: #fff;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-item {
  border: none !important;
  border-color: transparent !important;
  overflow: hidden;
}

.owl-carousel .owl-item img {
  width: auto;
}

.owl-carousel .owl-dots {
  margin-top: 25px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .owl-carousel .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.owl-carousel .owl-dots .owl-dot {
  background: rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 2.5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #31ae64;
  pointer-events: none;
}

.owl-carousel .owl-dots .owl-dot:hover {
  background: #31ae64;
}

.owl-carousel .owl-nav {
  width: 0;
  height: 0;
}

@media (max-width: 992px) {
  .owl-carousel .owl-nav {
    display: none;
  }
}

.owl-carousel .owl-nav button[class^=owl-] {
  position: absolute;
  top: 132px;
  outline: none;
  border: none;
  color: #676666;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-nav button[class^=owl-].owl-next {
  left: -45px;
}

.owl-carousel .owl-nav button[class^=owl-].owl-prev {
  right: -45px;
}

.owl-carousel .owl-nav button[class^=owl-]:hover {
  color: #2f2f2f;
}

@media (max-width: 992px) {
  .main-slider {
    margin: 0;
  }
}

.main-slider .owl-dots {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .main-slider .owl-dots {
    bottom: 15px;
  }
}

.main-slider .owl-dots .owl-dot.active {
  background: #fff;
  pointer-events: none;
}

.main-slider .owl-dots .owl-dot:hover {
  background: #fff;
}

.main-slider .owl-nav button[class^=owl-] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-slider .owl-nav button[class^=owl-].owl-next {
  left: 57px;
}

.main-slider .owl-nav button[class^=owl-].owl-prev {
  right: 57px;
}

.main-slider .owl-nav button[class^=owl-]:hover {
  color: #2e2e2e;
  background-color: #fff;
}

.main-slider .slider-img {
  display: block;
}

.main-slider .slider-img img {
  width: 100%;
}

@media (max-width: 767px) {
  .nav-foot-cont {
    margin-bottom: 5px;
    padding: 10px 0;
  }
}

.mo-panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  padding: 0 15px;
}

.mo-accordion {
  cursor: pointer;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mo-accordion:after {
  content: "\e874";
  font-family: 'Linearicons-Free';
  font-size: 13px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mo-accordion.active:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mo-accordion.labels::after {
  display: none;
}

@media (max-width: 767px) {
  .mo-accordion.nav-foot-header {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.cats-cont {
  background-color: #fafafa;
  padding: 63px 0 60px;
}

@media (max-width: 992px) {
  .cats-cont {
    padding: 0 0 40px;
  }
}

.cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 55.5px;
}

@media (max-width: 992px) {
  .cat {
    margin: auto;
    width: auto;
  }
}

@media (max-width: 992px) and (max-width: 992px) {
  .cat {
    padding: 43px 0 0;
  }
}

.cat .cat-img {
  width: 150px;
  height: 150px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 17px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cat .cat-img img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cat .cat-name {
  font-size: 18px;
  font-weight: 500;
  color: #2f2f2f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cat:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cat:hover .cat-name {
  color: #31ae64;
}

.cat:focus .cat-name {
  color: #2f2f2f;
}

.product {
  width: 100%;
  max-width: 262px;
  margin: auto;
}

.product .pro-img-cont {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.product .pro-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product .pro-img img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product .pro-img:hover img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.product .pro-info {
  padding: 0 5px;
}

.product .pro-name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 2px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 7px;
}

.product .pro-name a {
  font-size: 16px;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product .pro-name a:hover, .product .pro-name a:focus {
  color: #31ae64;
}

.product .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product .mo-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .price {
  font-size: 18px;
  color: #ce393a;
  font-weight: bold;
}

.product .oldprice {
  font-size: 16px;
  color: #8f8e8d;
  text-decoration: line-through;
}

html[dir='ltr'] .product .oldprice {
  margin-left: 10px;
}

html[dir='rtl'] .product .oldprice {
  margin-right: 10px;
}

.product .mo-add-to-cart {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #449acb;
  font-size: 17px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.product .mo-add-to-cart span {
  color: #fff;
}

.product .mo-add-to-cart:hover, .product .mo-add-to-cart:focus {
  background-color: #2fb065;
}

.product:hover .pro-img {
  background-color: #fff;
}

.brand-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}

.brand-item a {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.brand-item a img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.brand-item a:hover img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.brands-cont {
  margin-top: 75px;
}

@media (max-width: 992px) {
  .brands-cont {
    margin-top: 40px;
  }
}

.brands-slider {
  position: relative;
}

.brands-slider .owl-nav {
  width: 0;
  height: 0;
}

@media (max-width: 992px) {
  .brands-slider .owl-nav {
    display: none;
  }
}

.brands-slider .owl-nav button[class^=owl-] {
  top: 60px;
}

.brands-slider .owl-dots {
  margin-top: 20px;
}

/*//////////////////////////////preloader//////////////////////////////*/
.pre-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pre-loader img {
  width: 220px;
}

@media (max-width: 767px) {
  .pre-loader img {
    width: 110px;
  }
}

.pre-loader .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pre-loader .progress-bar {
  background-color: #30ad63;
  border: none;
  overflow: hidden;
  width: 200px;
  height: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 20px 0 0 0;
}

@media (max-width: 767px) {
  .pre-loader .progress-bar {
    width: 100px;
  }
}

.pre-loader .progress-bar .Shape_1 {
  background-color: #30ad63;
  position: absolute;
  left: 583px;
  top: 459px;
  width: 200px;
  height: 2px;
  z-index: 4;
}

.pre-loader .progress-bar span {
  display: block;
}

.pre-loader .bar {
  background-color: #5f3813;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pre-loader .progress {
  -webkit-animation: loader 8s ease infinite;
  animation: loader 8s ease infinite;
  background: #30ad63;
  border: none;
  padding: 0px;
  width: 0;
  height: 2px;
}

.pre-loader .progress-bar {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.pre-loader .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

/*//////////////////////////////preloader//////////////////////////////*/
.lang {
  position: absolute;
  top: 6px;
}

html[dir='ltr'] .lang {
  right: 0;
}

html[dir='rtl'] .lang {
  left: 0;
}

.lang .top-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #939393;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html[dir='ltr'] .lang .top-anchor img {
  margin-right: 10px;
}

html[dir='rtl'] .lang .top-anchor img {
  margin-left: 10px;
}

.lang .top-anchor:after {
  content: "\e874";
  font-family: "Linearicons-Free";
  font-size: 8px;
}

html[dir='ltr'] .lang .top-anchor:after {
  margin-left: 5px;
}

html[dir='rtl'] .lang .top-anchor:after {
  margin-right: 5px;
}

.lang .top-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 5px 12px 7px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.lang .drop-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  padding: 0 15px;
  color: #2f2f2f;
  border-bottom: 1px solid #e6e6e6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.lang .drop-anchor:hover {
  color: #ce393a;
}

html[dir='ltr'] .lang .drop-anchor img {
  margin-right: 10px;
}

html[dir='rtl'] .lang .drop-anchor img {
  margin-left: 10px;
}

.lang .drop-anchor:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.lang:hover .top-anchor {
  color: #31ae64;
}

.lang:hover .top-dropdown {
  visibility: visible;
  opacity: 1;
}

.header {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 23px 0 25px;
}

@media (max-width: 992px) {
  .header {
    padding: 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  width: 260px;
  display: block;
}

.logo.xs-logo {
  display: none;
}

@media (max-width: 992px) {
  .logo {
    display: none;
    width: 130px;
    margin: auto;
  }
  .logo.xs-logo {
    display: block;
  }
}

.mo-user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 45px;
  margin-bottom: 8px;
}

.mo-user-nav.xs-mo-user-nav {
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 992px) {
  .mo-user-nav {
    height: auto;
    margin: 0;
  }
  .mo-user-nav.xs-mo-user-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.user-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2f2f2f;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.user-anchor .text {
  font-size: 16px;
}

html[dir='ltr'] .user-anchor .text {
  margin-left: 5px;
}

html[dir='rtl'] .user-anchor .text {
  margin-right: 5px;
}

@media (max-width: 992px) {
  .user-anchor .text {
    display: none;
  }
}

.user-anchor:hover {
  color: #31ae64;
}

html[dir='ltr'] .user-anchor {
  margin-right: 19px;
}

html[dir='ltr'] .user-anchor.mo-cart-icon,
html[dir='ltr'] .user-anchor .mo-search-icon {
  margin: 0;
}

html[dir='rtl'] .user-anchor {
  margin-left: 19px;
}

html[dir='rtl'] .user-anchor.mo-cart-icon,
html[dir='rtl'] .user-anchor .mo-search-icon {
  margin: 0;
}

@media (max-width: 992px) {
  .user-anchor {
    font-size: 20px;
  }
  .user-anchor.mo-fav-icon {
    display: none;
  }
}

.sec-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

@media (max-width: 992px) {
  .sec-head {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
  }
}

.sec-head .sec-title {
  font-size: 24px;
  color: #2f2f2f;
  font-weight: 500;
}

.sec-head .sec-more {
  color: #676666;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sec-head .sec-more:hover {
  color: #31ae64;
}

html[dir='ltr'] .sec-head .sec-more {
  margin-left: 30px;
}

@media (max-width: 992px) {
  html[dir='ltr'] .sec-head .sec-more {
    margin: 0;
  }
}

html[dir='rtl'] .sec-head .sec-more {
  margin-right: 30px;
}

@media (max-width: 992px) {
  html[dir='rtl'] .sec-head .sec-more {
    margin: 0;
  }
}

@media (max-width: 992px) {
  .bestSeller .sec-title {
    width: 100%;
    text-align: center;
  }
}

.products-cont {
  margin-top: 75px;
  padding-bottom: 75px;
}

@media (max-width: 992px) {
  .products-cont {
    margin-top: 40px;
    padding-bottom: 40px;
  }
}

.banner {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 992px) {
  .banner:first-of-type {
    margin-bottom: 15px;
  }
}

.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.banner::before {
  position: absolute;
  top: 0;
  left: -105%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  cursor: pointer;
}

.banner:hover::before {
  -webkit-animation: shine 0.7s ease forwards;
  animation: shine 0.7s ease forwards;
}

.banner:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 50px;
  padding: 50px 0;
}

@media (max-width: 992px) {
  .features {
    padding: 25px 0;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px 15px;
  }
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #0f0f0f;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature span {
  font-size: 24px;
}

html[dir='ltr'] .feature span {
  margin-right: 8px;
}

@media (max-width: 992px) {
  html[dir='ltr'] .feature span {
    margin: 0 0 8px;
  }
}

html[dir='rtl'] .feature span {
  margin-left: 8px;
}

@media (max-width: 992px) {
  html[dir='rtl'] .feature span {
    margin: 0 0 8px;
  }
}

.feature:nth-of-type(1) span {
  color: #449acb;
}

.feature:nth-of-type(2) span {
  color: #ce393a;
}

.feature:nth-of-type(3) span {
  color: #2fb065;
}

.feature:nth-of-type(4) span {
  color: #f89832;
}

footer {
  background-color: #2f2f2f;
  padding-top: 62px;
}

@media (max-width: 992px) {
  footer {
    padding-top: 30px;
  }
}

.foot-header {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}

.news-sub-header {
  font-size: 14px;
  color: #fff;
  margin-bottom: 15px;
}

.nav-foot-li {
  margin-bottom: 9px;
}

.nav-foot-li:last-of-type {
  margin-bottom: 0;
}

.nav-foot-link {
  font-size: 14px;
  color: #9e9e9e;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-foot-link:hover, .nav-foot-link:focus {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  color: #fff;
}

html[dir='ltr'] .nav-foot-link:hover, html[dir='ltr'] .nav-foot-link:focus {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 18px;
}

.social-link {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #444444;
  color: #fff;
  border-radius: 50%;
  font-size: 18px;
  margin: 0 2.5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-link:hover {
  background-color: #fff;
  color: #2f2f2f;
}

.last-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #3b3b3b;
  padding: 5px 0;
  margin-top: 65px;
}

@media (max-width: 992px) {
  .last-footer {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px 0;
    margin-top: 30px;
  }
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

html[dir='ltr'] .copyright img {
  margin-left: 5px;
}

html[dir='rtl'] .copyright img {
  margin-right: 5px;
}

.copyright .tasawk::before {
  content: "-";
  margin: 0 6px;
}

@media (max-width: 992px) {
  .copyright .tasawk {
    margin: 5px 0 0;
  }
  .copyright .tasawk::before {
    display: none;
  }
}

@media (max-width: 992px) {
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 10px;
  }
}

@media (max-width: 992px) {
  .payment {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 1199px) {
  .news-letter {
    margin-top: 30px;
  }
  .news-letter .foot-header {
    text-align: center;
  }
  .news-letter .news-sub-header {
    text-align: center;
  }
}

nav .mo-menu-close {
  display: none;
  top: 25px;
  left: 25px;
  position: absolute;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}

nav .mo-menu-close:hover {
  color: #2fb065;
  background-color: #fff;
}

html[dir='ltr'] nav .mo-menu-close {
  left: auto;
  right: 25px;
}

@media (max-width: 992px) {
  nav {
    background-image: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
    border: none;
  }
  nav .mo-menu-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .nav-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100%;
    background-color: #fff;
    width: 280px;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 70px 25px;
    right: 0;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    overflow-y: auto;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  html[dir='ltr'] nav .nav-cont {
    -webkit-transform-origin: left;
            transform-origin: left;
    left: 0;
    right: auto;
  }
  nav .nav-cont.nav-in {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  nav .mo-navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  nav .nav-li {
    width: 100%;
    height: auto;
    display: block;
  }
  html[dir='ltr'] nav .nav-li {
    margin: 7px 0;
  }
  html[dir='ltr'] nav .nav-li:last-of-type {
    margin: 7px 0;
  }
  html[dir='rtl'] nav .nav-li {
    margin: 7px 0;
  }
  html[dir='rtl'] nav .nav-li:last-of-type {
    margin: 7px 0;
  }
  nav .nav-a {
    color: #2f2f2f;
  }
  nav .nav-a:hover {
    color: #31ae64;
  }
  nav .sub-ul {
    position: relative;
    top: auto;
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    min-width: auto;
    padding: 0 15px;
    visibility: visible;
    opacity: 1;
    background-color: #fff;
  }
  html[dir='ltr'] nav .sub-ul {
    left: auto;
  }
  html[dir='rtl'] nav .sub-ul {
    right: auto;
  }
  nav .sub-li {
    text-align: unset;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
    margin: 5px 0;
    padding: 0;
  }
  nav .sub-li:last-of-type {
    margin: 5px 0;
  }
  nav .sub-a {
    color: #2f2f2f;
  }
  nav .sub-a:hover {
    color: #31ae64;
  }
  nav .hot-cont {
    margin-top: 50px;
    width: 100%;
  }
  nav .hot-line {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .lang {
    position: fixed;
    z-index: 9999;
    top: 21px;
    right: 25px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  html[dir='ltr'] .lang {
    left: 25px;
    right: auto;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .lang.lang-in {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
/*# sourceMappingURL=main.css.map */